@model List<AcunmedyaAkademiProject2._0.Entities.Testimonial>

<div class="testimonial_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="testimonial_taital">Müşterilerimizden Gelen Yorumlar</h1>
            </div>
        </div>
        <div class="testimonial_section_2">
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial_box">
                        <div id="main_slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <p class="testimonial_text">"Buradaki tatlıların lezzeti bir harika! Özellikle fıstıklı baklavaları tam kıvamında. Herkese gönül rahatlığıyla tavsiye ederim."</p>
                                    <h4 class="client_name">Murat Yücedağ</h4>
                                    <div class="client_img"><img src="~/Romyk-1.0.0/images/murat-hoca jpg.jpg" style="width:200px;height;150px;"></div>
                                </div>
                                <div class="carousel-item">
                                    <p class="testimonial_text">"Arkadaşlarımın önerisiyle burayı keşfettim ve iyi ki gelmişim. Künefeleri sıcak ve taze, gerçekten muhteşem!"</p>
                                    <h4 class="client_name">Gökhan Mutlay</h4>
                                    <div class="client_img"><img src="~/Romyk-1.0.0/images/Ekran görüntüsü 2025-04-26 234335.png" style="width:200px;height;150px;"></div>
                                </div>
                                <div class="carousel-item">
                                    <p class="testimonial_text">"Çocuklarımla beraber buraya gelmek büyük bir keyif. Tatlıların tazeliği ve çeşitliliği bizi çok mutlu ediyor."</p>
                                    <h4 class="client_name">Esra Çufadaroğlu</h4>
                                    <div class="client_img"><img src="~/Romyk-1.0.0/images/Ekran görüntüsü 2025-04-26 234720.png" style="width:200px;height;150px;"></div>
                                </div>
                                <div class="carousel-item">
                                    <p class="testimonial_text">"Özel günlerimde pasta siparişlerimi buradan alıyorum. Hem görsellik hem de lezzet açısından gerçekten şahane!"</p>
                                    <h4 class="client_name">Samet Furkan Dağ</h4>
                                    <div class="client_img"><img src="~/Romyk-1.0.0/images/SAMET jpg.jpg" style="width:200px;height;150px;"></div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


